# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [ ]:
SELECT COUNT(*) AS users_rat_above_rat
FROM dbo.ratings r
WHERE r.rating > (
    SELECT AVG(r2.rating)
    FROM dbo.ratings r2
    WHERE r2.book_id = r.book_id
);
--534,538 users who rated a book above it's average rating

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [ ]:
SELECT book_id
FROM dbo.books
WHERE ratings_1 > 1000
   OR ratings_5 > 1000;

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [ ]:
SELECT book_id
FROM dbo.books
WHERE ratings_1 > 1000
  AND ratings_5 > 1000;

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [ ]:
SELECT book_id
FROM dbo.books
WHERE language_code = 'en-US'
  AND book_id NOT IN (
      SELECT book_id
      FROM dbo.books
      WHERE language_code = 'en-GB'
  );

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [ ]:
SELECT tag_id, tag_name
FROM dbo.tags
WHERE tag_id IN (
    SELECT tag_id
    FROM dbo.book_tags
    WHERE count > 100000
);