# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [ ]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd

baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
new_york = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")
st_louis = pd.read_csv("dataset/st-louis_9-24-2016_9-30-2017.csv")

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [3]:
# Clean your data here!

def clean_pumpkins(df):
    df = df.copy()
    if "Repack" in df.columns:
        df["Repack"] = df["Repack"].replace({"N": False})
    if "Type" in df.columns:
        df["Type"] = df["Type"].fillna("Conventional")
    if "Grade" in df.columns:
        df = df.drop(["Grade"], axis=1)
    cols_to_drop = [
        "Sub Variety", "Origin District", "Item Size", "Package",
        "Condition", "Appearance", "Storage", "Crop", "Trans Mode"
    ]
    cols_to_drop = [c for c in cols_to_drop if c in df.columns]
    df = df.drop(columns=cols_to_drop)
    
    return df

baltimore_clean    = clean_pumpkins(baltimore)
boston_clean       = clean_pumpkins(boston)
new_york_clean     = clean_pumpkins(new_york)
philadelphia_clean = clean_pumpkins(philadelphia)
st_louis_clean     = clean_pumpkins(st_louis)

C:\Users\jseat\AppData\Local\Temp\ipykernel_23176\4100574201.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Repack"] = df["Repack"].replace({"N": False})
C:\Users\jseat\AppData\Local\Temp\ipykernel_23176\4100574201.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Repack"] = df["Repack"].replace({"N": False})
C:\Users\jseat\AppData\Local\Temp\ipykernel_23176\4100574201.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Repack"] = df["Repack"].replace({"N": False})
C:\Users\jseat\AppData\Local\Temp\ipykernel_23176\4100574201.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Repack"] = df["Repack"].replace({"N": False})

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [8]:
# Combine the four dataframes into one!

northeast = pd.concat(
    [baltimore_clean, boston_clean, new_york_clean, philadelphia_clean],
    ignore_index=True
)

northeast

,Commodity Name,City Name,Type,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Color,Environment,Unit of Sale,Quality,Repack,City
0,PUMPKINS,BALTIMORE,Conventional,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,NaN,NaN,NaN,E,Baltimore
1,PUMPKINS,BALTIMORE,Conventional,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,NaN,NaN,NaN,E,Baltimore
2,PUMPKINS,BALTIMORE,Conventional,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,NaN,NaN,NaN,False,Baltimore
3,PUMPKINS,BALTIMORE,Conventional,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,NaN,NaN,NaN,False,Baltimore
4,PUMPKINS,BALTIMORE,Conventional,HOWDEN TYPE,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,NaN,NaN,NaN,False,Baltimore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,PUMPKINS,PHILADELPHIA,Conventional,MINIATURE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,SHELLACKED,NaN,False,Philadelphia
670,PUMPKINS,PHILADELPHIA,Conventional,MINIATURE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,SHELLACKED,NaN,False,Philadelphia
671,PUMPKINS,PHILADELPHIA,Conventional,MINIATURE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,SHELLACKED,NaN,False,Philadelphia
672,PUMPKINS,PHILADELPHIA,Conventional,MINIATURE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,SHELLACKED,NaN,False,Philadelphia
673,PUMPKINS,PHILADELPHIA,Conventional,MINIATURE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,SHELLACKED,NaN,False,Philadelphia

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [6]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

mean_prices_by_unit = (
    northeast
        .groupby("Unit of Sale")[["Low Price", "High Price"]]
        .mean()
)

mean_prices_by_unit

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [ ]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
# This isn't really a correct solution since it's variety as it appeared, but not a quantity of each necessarily, as that does not exist in the data.
avg_pumpkins_by_variety = (
    northeast
        .groupby("Variety")
        .size()
        .rename("Count of Reports")
)

avg_pumpkins_by_variety

Variety
BIG MACK TYPE                55
BLUE TYPE                     7
CINDERELLA                   39
FAIRYTALE                    37
HOWDEN TYPE                 224
HOWDEN WHITE TYPE             2
KNUCKLE HEAD                  9
MINIATURE                    97
MIXED HEIRLOOM VARIETIES      4
PIE TYPE                    198
Name: Count of Reports, dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!