# SQL Part 3 Studio

Let's practice your SQL querying skills! For each question, work along in the notebook, adding your query and answering the questions.

## The Dataset

We will be using the Goodbooks-10k dataset from the exercises in the prep work. Feel free reference your previous notebooks.

1. The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
1. You can access `BooksDB` in the LaunchCode server.

## Business Issue

You are an employee at a small independent bookstore and you have been tasked with increasing sales.  You decide to use `BooksDB` to find books and themes to highlight in fun promotions throughout each month and/or season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of promotions to run each month.  If you are looking for ideas, here are some resources on different holidays:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, National Pie Day (3/14), St. Patrick's Day (3/17), Season - Spring

### Event 1: Women's History Month

Highlight popular women writers based on ratings from `BooksDB` by writing a query that returns `tag_id`, the number of times each `tag_id` is used and the `tag_name`. Use the `GROUP BY` and `HAVING` clause to narrow your focus and try multiple keywords, such as "woman" and "female".

In [ ]:
SELECT count(t.tag_id) AS tags_quantity, tag_name
FROM BooksDB.dbo.tags AS t
JOIN BooksDB.dbo.book_tags AS bt
ON t.tag_id = bt.tag_id
GROUP BY tag_name
HAVING tag_name LIKE '%woman%'
OR tag_name LIKE '%female%'
ORDER BY tags_quantity DESC;

### Event 2: Choose another event from March/Spring

Write a query to return authors, titles, ratings, and `tag_id` that you would want to promote during your chosen event.

In [ ]:
SELECT b.authors, b.title, b.average_rating, t.tag_id, t.tag_name
FROM dbo.books AS b
JOIN dbo.book_tags AS bt ON b.best_book_id = bt.goodreads_book_id
JOIN dbo.tags AS t ON bt.tag_id = t.tag_id
WHERE t.tag_name LIKE '%mathematics%'
    OR t.tag_name LIKE '%math'
    OR t.tag_name LIKE '%math-'
    OR t.tag_name LIKE '%pi ';

Record your thoughts about why you wrote the query the way you did.

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions:
1. Which month did you choose? October
1. What 2 events / promotions are you highlighting? Diwali & Halloween

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in `BooksDB` to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a `HAVING` clause.

In [ ]:
--For Halloween
SELECT authors, b.title, b.average_rating, t.tag_id, t.tag_name
FROM dbo.books AS b
JOIN dbo.book_tags AS bt ON b.best_book_id = bt.goodreads_book_id
JOIN dbo.tags AS t ON t.tag_id = bt.tag_id
WHERE t.tag_name LIKE '%Halloween%'
OR t.tag_name LIKE '%horror%'
OR t.tag_name LIKE '%thriller%'
OR t.tag_name LIKE '%mystery%'

--For Diwali
SELECT b.title, t.tag_name, ROUND(AVG(b.average_rating), 2) AS rating
FROM dbo.books AS b
JOIN dbo.book_tags AS bt ON b.best_book_id = bt.goodreads_book_id
JOIN dbo.tags AS t ON t.tag_id = bt.tag_id
WHERE t.tag_name LIKE '%festival%'
OR t.tag_name LIKE '%Diwali%'
OR t.tag_name LIKE '%indian%'
OR t.tag_name LIKE '%hindu%'
GROUP BY b.title, t.tag_name
HAVING AVG(b.average_rating) > 4.0
ORDER BY rating DESC, b.title ASC;

### Summarize Event 1

Double-click to edit.

In [ ]:
--For Halloween I kept all the same columns as the previous query
--and added a bunch of relevant tag names such as horror and thriller.

### Summarize Event 2

For the Diwali one I wanted to add the Having clause, so I had to remove some of the columns, then I aggregated the average rating, and listed the results by both title and tag name, limiting results by ratings > 4.0 and sorting by highest rating to lowest.